# Rime
RIME_API_KEY=your_rime_api_key_here
RIME_MODEL_ID=your_current_rime_model_id_here
RIME_SPEAKER=your_current_rime_speaker_here
RIME_LANGUAGE=your_current_rime_language_here
RIME_ENDPOINT=your_rime_endpoint_here
RIME_AUDIO_FORMAT=your_rime_audio_format_here

# Realtime
LIVEKIT_URL=your_livekit_url_here
LIVEKIT_API_KEY=your_livekit_api_key_here
LIVEKIT_API_SECRET=your_livekit_api_secret_here

# AI
OPENAI_API_KEY=your_openai_api_key_here

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
